body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Monaco;
}

.container {
  align-self: center;
  padding: 30px;
  width: 60%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: rgb(254, 171, 47);
  border-radius: 1000px;
  font-size: 40px;
  box-shadow: 2px 2px 10px 0px #000000;
}

.description h1 {
  margin: 0;
}
.description p {
  font-size: 10px;
  align-self: center;
  width: 50%;
}

.addBook {
  align-self: center;
  width: 20%;
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 1000px;
  border: none;
  box-shadow: 2px 2px 10px 0px #000000;
  cursor: pointer;
}

.popUp {
  position: absolute;
  display: none;
  top: 30%;
  width: 30%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(254, 171, 47);
  padding: 70px 20px;
  box-shadow: 2px 2px 10px 0px #000000;
  animation: popAni 1s ease-out 0s 1;
  border-radius: 10px;
}

@keyframes popAni {
  from {
    opacity: 0;
    top: 500px;
  }
  to {
    opacity: 1;
  }
}

.popUp button {
  font-size: 20px;
  border-radius: 1000px;
  border: none;
  box-shadow: 2px 2px 5px 0px #00000080;
  cursor: pointer;
  margin: 6px;
}

#read {
  margin-bottom: 5px;
  transform: scale(1.5);
}

.input {
  transform: scale(1.5);
  margin: 10px;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 10px 0px #000000;
  background-color: rgb(254, 171, 47);
  flex-basis: 22.6%;
  margin: 1%;
  border-radius: 3px;
  animation: bookPop 1s ease-out 0s 1;
}
@keyframes bookPop {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.book span,
.book button {
  margin: 5px;
}

.book button {
  width: 90%;
  background-color: white;
  font-size: 15px;
  border-radius: 1000px;
  border: none;
  box-shadow: 2px 2px 3px 0px #0000007b;
  cursor: pointer;
}

.book span {
  flex-grow: 1;
}
